.button {
    cursor: pointer;
    background: #fff;
    padding: 10px 12px;
    border: 1px solid #E0E2E6;
    color: #3B3B3B;

    &:first-of-type {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    &:last-of-type {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    & + & {
        border-left: none;
    }

    &:hover {
        background-color: #E0E2E6;
    }

    &:active, &.active {
        background-color: #3E4478;
        color: #fff
    }

    &.large {
        padding: 12px 24px;
        font-size: 22px;
    }
}
